form.create-list(action='/books/search', method='get')
  fieldset
    legend Search
    label(for='title') Title
    input#name(type='text', name='title')
    br
    br
    label(for='author') Author
    input#name(type='text', name='author')
    br
    br
    label(for='genre') Genre
    input#name(type='text', name='genre')
    br
    br
    label(for='Year') Year
    input#name(type='text', name='Year')
    br
    br
    input(type='submit')